body {
  background: url(images/background.png) bottom left repeat-x;
  background-color: rgb(94, 145, 254);
  height: 98vh;
}

#characters {
  position: absolute;
  top: calc(98vh - 200px);
}

/* Character Container */
#mario,
#luigi {
  --size: 160px;
  float: left;
  height: var(--size);
  width: var(--size);
}

#goomba,
#mushroom {
  --size: 80px;
  float: left;
  height: var(--size);
  margin-right: 40px;
  margin-top: var(--size);
  width: var(--size);
}

/* Pixel */
.pixel {
  background: transparent;
  float: left;
  height: 10px;
  width: 10px;
}

#goomba .pixel,
#mushroom .pixel {
  height: 5px;
  width: 5px;
}

/*===============================================
  Mario
=================================================*/
/* Clothes Red */
#mario .red {
  background: rgb(237, 27, 36);
}

/* Clothes Blue */
#mario .blue,
#luigi .blue {
  background: rgb(0, 0, 254);
}

/* Clothes Button */
#mario .button,
#luigi .button {
  background: rgb(254, 242, 0);
}

/* Brown */
#mario .brown,
#luigi .brown {
  background: rgb(69, 35, 0);
}

/* Face and hands */
#mario .skin,
#luigi .skin {
  background: rgb(255, 194, 15);
}

/* Eyes and moustache */
#mario .black,
#luigi .black {
  background: rgb(10, 10, 10);
}

/* Shoes */
#mario .shoes,
#luigi .shoes {
  background: rgb(69, 35, 0);
}

/*===============================================
  Luigi
=================================================*/
#luigi .green  {
  background: rgb(44, 176, 81);
}

/*===============================================
  Goomba
=================================================*/
#goomba .brown {
  background: rgb(143, 56, 3);
}

#goomba .black {
  background: rgb(0, 0, 0);
}

#goomba .skin {
  background: rgb(255, 203, 155);
}

/*===============================================
  Mushroom
=================================================*/
#mushroom .brown {
  background: rgb(252, 154, 60);
}

#mushroom .green {
  background: rgb(4, 170, 4);
}

#mushroom .white {
  background: rgb(252, 254, 252);
}
