/* Character Container */
#mario,
#luigi {
  float: left;
  height: 320px;
  width: 320px;
}

#goomba {
  float: left;
  height: 160px;
  margin-top: 160px;
  width: 160px;
}

/* Pixel */
.pixel {
  background: transparent;
  float: left;
  height: 20px;
  width: 20px;
}

#goomba .pixel {
  height: 10px;
  width: 10px;
}

/*===============================================
  Mario
=================================================*/
/* Clothes Red */
#mario .red {
  background: rgb(237, 27, 36);
}

/* Clothes Blue */
#mario .blue,
#luigi .blue {
  background: rgb(0, 0, 254);
}

/* Clothes Button */
#mario .button,
#luigi .button {
  background: rgb(254, 242, 0);
}

/* Brown */
#mario .brown,
#luigi .brown {
  background: rgb(69, 35, 0);
}

/* Face and hands */
#mario .skin,
#luigi .skin {
  background: rgb(255, 194, 15);
}

/* Eyes and moustache */
#mario .black,
#luigi .black {
  background: rgb(10, 10, 10);
}

/* Shoes */
#mario .shoes,
#luigi .shoes {
  background: rgb(69, 35, 0);
}

/*===============================================
  Luigi
=================================================*/
#luigi .green  {
  background: rgb(44, 176, 81);
}

/*===============================================
  Goomba
=================================================*/
#goomba .brown {
  background: rgb(143, 56, 3);
}

#goomba .black {
  background: rgb(0, 0, 0);
}

#goomba .skin {
  background: rgb(255, 203, 155);
}
